/* main.css */

body {
	background: radial-gradient(ellipse at left top, #99ffff, white);
	background-repeat: no-repeat;
}

/*
@-webkit-keyframes clignote {
	0%{box-shadow:0px 0px 10px #4183C4;}
	50%{box-shadow:0px 0px 0px #4183C4;}
	100%{box-shadow:0px 0px 10px #4183C4;}
}

.clignote {
	-webkit-animation-name: clignote; //on affecte l'animation clignote à notre bouton
	-webkit-animation-duration: 1s; //on définit la durée de l'animation à 1s
	-webkit-animation-iteration-count:infinite; //on dit que l'animation se répétera à l'infini.
}
*/

.clignote {
  color:green;
  animation: clignote 2s linear infinite;
}
@keyframes clignote {
  50% { opacity: 0; }
}
