// ==================
//- ABOUT . pug
// ==================


doctype html
html(lang="fr")
	include /include/titre.pug
	head
		include /include/head.pug
		link(rel="stylesheet" href="/css/about.css")
		title #{MAIN_TITRE} : A Propos
	body
		// BODY
		.container
			// Titre de la page
			include /include/page_titre.pug
			// NAV
			include /include/nav.pug

			//ENTETE
			- var titre = "A Propos"
			- var fond_titre = "images/about.png"
			- var texte_color = "text-white"
			include /include/entete.pug

			hr

			include /textes/a_propos.pug

			include /include/footer.pug
			include /include/scripts.pug
