// ==================
//- Competences . pug
// ==================


doctype html
html(lang="fr")
	include /include/titre.pug
	head
		include /include/head.pug
		link(rel="stylesheet" href="/css/competences.css")
		title #{MAIN_TITRE} : COMPETENCES
	body
		// BODY
		.container
			// Titre de la page
			include /include/page_titre.pug
			// NAV
			include /include/nav.pug

			//ENTETE
			- var titre = "COMPETENCES"
			- var fond_titre = "images/competences2.png"
			- var texte_color = "text-white"
			include /include/entete.pug

			hr
			//
			// Explications 
			//
			h3 Quelques explications :
			p Sur cette page vous trouverez le détail de mes compétences 
				| et pour ce faire j'ai utilisé la notification suivante :
			// La table de reference
			include /include/notification.pug
			hr
			// La table des competences
			include /include/table_competences.pug
			include /include/footer.pug
			include /include/scripts.pug
