// ==================
//- contact . pug
// ==================


doctype html
html(lang="fr")
	include /include/titre.pug
	head
		include /include/head.pug
		link(rel="stylesheet" href="/css/contact.css")
		title #{MAIN_TITRE} : Me Contacter
	body
		// BODY
		.container
			// Titre de la page
			include /include/page_titre.pug
			// NAV
			include /include/nav.pug
			//.jumbotron
			//	img(src="under_construct.png" class="rounded float-left" alt="UNDER CONSTRUCTION")
			//	h1(class="display-3") ME CONTACTER

			//ENTETE
			- var titre = "ME CONTACTER"
			- var fond_titre = "images/contact.png"
			- var texte_color = "text-white"
			include /include/entete.pug

			hr
			p(class="lead text-justify")
				| Pour l'instant le meilleur moyen est d'envoyer un mail à cette adresse  <br/> en cliquant ICI =>   
				a(class="btn btn-default btn-info" href="mailto:cb@cv.chrislyon.fr" role="button") MAIL cb@cv.chrislyon.fr


			include /include/footer.pug
			include /include/scripts.pug
