// ==================
//- DOWNLOAD . pug
// ==================


doctype html
html(lang="fr")
	include /include/titre.pug
	head
		include /include/head.pug
		link(rel="stylesheet" href="/css/download.css")
		title #{MAIN_TITRE} : Téléchargements 
	body
		// BODY
		.container
			// Titre de la page
			include /include/page_titre.pug
			// NAV
			include /include/nav.pug

			//ENTETE
			- var titre = "TELECHARGEMENT & LIENS"
			- var fond_titre = "images/download.png"
			- var texte_color = "text-white"
			include /include/entete.pug

			hr
			p(class="lead text-justify")
				| Quelques documents téléchargeables :<br/>

			table(class="table")
				thead(class="thead-light")
					tr
						th Document / lien
						th Description / Explications
				tbody
					tr
						td 
							a(class="btn btn-default btn-info" href="https://pygnrpdf.chrislyon.fr/" role="button") CV Généré par PYTHON
						td Version générée par un script PYTHON au format PDF, sur plusieurs pages.
					//tr
					//	td 
					//		a(class="btn btn-default btn-info" href="/gnr_pdf/cv.php" role="button") CV Généré par PHP
					//	td Version générée par un script PHP au format PDF, sur plusieurs pages.
					tr
						td 
						td 
					tr
						td 
							a(class="btn btn-default btn-info" href="https://framagit.org/chrislyon/CV_HTML" role="button") CV_HTML
						td Ce site sur Framagit



			include /include/footer.pug
			include /include/scripts.pug
