// ==================
//- Experience . pug
// ==================


doctype html
html(lang="fr")
	include /include/titre.pug
	head
		include /include/head.pug
		link(rel="stylesheet" href="/css/exp.css")
		title #{MAIN_TITRE} / Expériences
	body
		// BODY
		.container
			// Titre de la page
			include /include/page_titre.pug
			// NAV
			include /include/nav.pug

			// ENTETE
			- var titre = "EXPERIENCES PROFESSIONNELLES"
			- var stitre = [ "Ingénieur Système UNIX / Linux Certifié AIX " , "Administrateur base de données Oracle", "Développeur langage de scripts (shell, python)" ]
			- var fond_titre = "images/exp2.png"
			- var texte_color = "text-white"
			include /include/entete.pug

			p(class="lead")
				|Cliquez sur les titres pour plier / déplier les informations

			//include /include/exp_body.pug
			include /include/exp2_body.pug

			include /include/footer.pug
			include /include/scripts.pug


