// ==================
//- formations . pug
// ==================


doctype html
html(lang="fr")
	include /include/titre.pug
	head
		include /include/head.pug
		link(rel="stylesheet" href="/css/formations.css")
		title #{MAIN_TITRE} : Formations
	body
		// BODY
		.container
			// Titre de la page
			include /include/page_titre.pug
			// NAV
			include /include/nav.pug

			//ENTETE
			- var titre = "FORMATIONS"
			- var fond_titre = "images/formations.png"
			- var texte_color = "text-white"
			include /include/entete.pug

			hr
			p(class="lead")
				|Voici les formations que j'ai eu la chance de pouvoir suivre.<br/>
				|Pour le reste, il s'agit la plupart du temps d'auto-formation

			// Table des formations
			include /include/formation_body.pug

			hr
			p(class="lead")
				|Début 2019 je me suis inscrit à OpenClassrooms, voici les cours suivis et les certificats de réussite obtenus

			//Table Openclassrooms
			include /include/formationOC_body.pug

			hr
			p(class="lead")
				|Avant OpenClassrooms il existait Codacademy.
				|Certaines étapes de cours donnait un badge, j'en ai obtenu 80
				|Voici la liste

			//Table des badges
			include /include/table_codacademy.pug

			include /include/footer.pug
			include /include/scripts.pug
