// ======================
//- index.pug
// main.pug
// ======================


doctype html
html(lang="fr")
	include /include/titre.pug
	head
		include /include/head.pug
		link(rel="stylesheet" href="/css/main.css")
		title #{MAIN_TITRE} : ACCUEIL

	body
		// BODY
		.container
			// Titre de la page
			include /include/page_titre.pug

			// NAV
			include /include/nav.pug

			// ENTETE 
			- var titre = "ACCUEIL"
			- var stitre = ""
			- var sstitre = ""
			- var fond_titre = "images/main2.png"
			- var texte_color = "text-white"
			include /include/entete.pug

			p(class="lead")  
				|Ce site me permet de diffuser mon Curriculum Vitae (CV) et de vous permettre de me contacter <br/>
				|Vous pouvez ainsi consulter mon parcours professionnel, le détail de mes compétences par domaine, les formations suivies
				|et la description de quelques unes de mes réalisations.<br/>

			// MENU
			.row.marketing
				.col-lg-6
					h4 Expériences professionnelles
					p 	Sur cette page vous trouverez mon parcours professionnel
						br
						a(class="btn btn-default btn-info" href="/exp.html" role="button") Le détail
					h4 Compétences
					p 	Les compétences acquises 
						br
						a(class="btn btn-default btn-info" href="/competences.html" role="button") Plus d'informations
					h4 Formations
					p 	Le détail des formations suivies
						br
						a(class="btn btn-default btn-info" href="/formations.html" role="button") En Savoir plus
					h4 Publication
					p 	Auteur d'un ouvrage sur le langage python
						br
						a(class="btn btn-default btn-info" href="/publications.html" role="button") Publication
					h4 Réalisations
					p 	Exemples de réalisations
						br
						a(class="btn btn-default btn-info" href="/realisations.html" role="button") Réalisations
				.col-lg-6
					h4 Recruteurs
					p 	Recruteurs : cette page vous est dédiée
						br
						a(class="btn btn-lg btn-warning clignote" href="/recruteur.html" role="button") Recruteurs
					h4 Critères
					p 	Ce que je recherche comme poste
						br
						a(class="btn btn-default btn-info" href="/recherche.html" role="button") Critères
					h4 Me Contacter
					p 	La page de contact
						br
						a(class="btn btn-default btn-info" href="/contact.html" role="button") Contactez-moi
					h4 Documents à télécharger
					p 	Si vous souhaitez téléchargez mon CV
						br
						a(class="btn btn-default btn-info" href="/download.html" role="button") Page Téléchargements

			include /include/footer.pug

		// SCRIPT
		include /include/scripts.pug
