// ============================
//- MENTIONS LEGALES . pug
// ============================


doctype html
html(lang="fr")
	include /include/titre.pug
	head
		include /include/head.pug
		link(rel="stylesheet" href="/css/about.css")
		title #{MAIN_TITRE} : Mentions Légales
	body
		// BODY
		.container
			// Titre de la page
			include /include/page_titre.pug
			// NAV
			include /include/nav.pug

			//ENTETE
			- var titre = "Mentions légales"
			//- var fond_titre = "images/about.png"
			//- var texte_color = "text-white"
			include /include/entete.pug

			hr
			pre
				|Que de choses dans cette page, outre les mentions obligatoires et légales, on trouve aussi le paradoxe suivant : <br/>
				|il s'agit de la seule page obligatoire mais qui ne sera quasiment jamais lue sinon par les robots de recherche ...
			hr

			h4 Informations légales 

			pre
				|	Christophe BONNET email: cb@cv.chrislyon.fr

			h4 Hébergeur 

			pre
				|	Site hebergé par O2switch.fr
				|	SARL au capital de 100000€
				|	RCS : Clermont-Ferrand
				|	SIRET : 510 909 80700024
				|	TVA : FR35510909807
				|	&nbsp
				|	La marque o2switch est déposée INPI
				|	sous le numéro 09 3 645 729.
				| 	CNIL : 1756116 | RIPE : AS50474
				|	&nbsp
				|	Siège Social :
				|	o2switch
				|	222-224 Boulevard Gustave Flaubert
				|	63000 Clermont-Ferrand

			h4 Mentions légales

			pre
				|	L’ensemble de ce site relève des législations françaises et internationales sur le droit d’auteur et la propriété intellectuelle. 
				|	Tous les droits de reproduction sont réservés, y compris pour les documents iconographiques et photographiques.

			include /include/footer.pug
			include /include/scripts.pug
