// ==================
//- CV PRINTABLE
// ==================


doctype html
html(lang="fr")
	include /include/titre.pug
	head
		include /include/head.pug
		link(rel="stylesheet" href="/css/printable.css")
		title #{MAIN_TITRE} / Résumé Imprimable
	body
		// BODY
		.container
			// Titre de la page
			include /include/page_titre.pug

			//ENTETE
			- var titre = "RESUME IMPRIMABLE"
			include /include/entete.pug

			// Experiences
			div(class="alert alert-success" role="alert")
				h4(class="alert-heading") Experiences
			include /include/exp_body.pug

			p(style="page-break-after: always;") &nbsp;

			// Competences
			div(class="alert alert-success" role="alert")
				h4(class="alert-heading") Compétences
			include /include/table_competences.pug

			p(style="page-break-after: always;") &nbsp;

			// Formation
			div(class="alert alert-success" role="alert")
				h4(class="alert-heading") Formations
			include /include/formation_body.pug

			include /include/footer.pug
			include /include/scripts.pug
