// ==================
//- PUBLICATIONS . pug
// ==================


doctype html
html(lang="fr")
	include /include/titre.pug
	head
		include /include/head.pug
		link(rel="stylesheet" href="/css/about.css")
		title #{MAIN_TITRE} : Publications
	body
		// BODY
		.container
			// Titre de la page
			include /include/page_titre.pug

			// NAV
			include /include/nav.pug

			//ENTETE
			- var titre = "Publications"
			- var fond_titre = "images/publications.png"
			- var texte_color = "text-white"
			include /include/entete.pug

			hr

			include /textes/publications.pug

			include /include/footer.pug
			include /include/scripts.pug
