// ==================
//- Realisation . pug
// ==================


doctype html
html(lang="fr")
	include /include/titre.pug
	head
		include /include/head.pug
		link(rel="stylesheet" href="/css/realisation.css")
		title #{MAIN_TITRE} : Réalisations
		include /include/scripts_head.pug
	body
		// BODY
		.container
			// Titre de la page
			include /include/page_titre.pug

			// NAV
			include /include/nav.pug

			//ENTETE
			- var titre = "REALISATIONS"
			- var fond_titre = "images/realisations.png"
			- var texte_color = "text-white"
			include /include/entete.pug

			hr

			p(class="lead")
				|Ici vous trouverez la description de quelques unes de mes réalisations dont j'assume la paternité.<br>
				|Toutes sont basées sur des produits Open Source.<br>
				|Qui est une mine de matière première phénoménale pour un informaticien.<br>

			include /include/table_realisations.pug

			include /include/footer.pug


