// ==================
//- Recherche . pug
// ==================


doctype html
html(lang="fr")
	include /include/titre.pug
	head
		include /include/head.pug
		link(rel="stylesheet" href="/css/recherche.css")
		title #{MAIN_TITRE} : Ma Recherche
	body
		// BODY
		.container
			// Titre de la page
			include /include/page_titre.pug
			// NAV
			include /include/nav.pug

			//ENTETE
			- var titre = "MA RECHERCHE"
			- var fond_titre = "images/recherche.png"
			- var texte_color = "text-white"
			include /include/entete.pug

			hr

			include /textes/recherche.pug

			include /include/footer.pug
			include /include/scripts.pug
