// ==================
//- RECRUTEUR . pug
// ==================


doctype html
html(lang="fr")
	include /include/titre.pug
	head
		include /include/head.pug
		link(rel="stylesheet" href="/css/recrut.css")
		title #{MAIN_TITRE} : RECRUTEURS
	body
		// BODY
		.container
			// Titre de la page
			include /include/page_titre.pug

			// NAV
			include /include/nav.pug

			//ENTETE
			- var titre = "Recruteurs"
			- var fond_titre = "images/recruteur3.png"
			- var texte_color = "text-dark"
			include /include/entete.pug

			hr

			p Vous êtes sur la page spéciale recruteur, dans celle ci j'ai regroupé toutes les informations succeptibles de vous intéresser <br/>

			p Dans le but de vous soulager de la fastidieuse et pénible lecture de l'ensemble de mon site :)

			hr


			table(class="table")
				thead(class="thead-light")
					tr
						th Document / lien
						th Description / Explications
				tbody
					tr
						td
							a(class="btn btn-default btn-info" href="https://pygnrpdf.chrislyon.fr/" role="button") CV Généré
						td Version à jour et générée par un script PYTHON au format PDF, sur plusieurs pages.
					tr
						td Me contacter
						td Vous trouverez toutes mes coordonnées sur le CV

			include /textes/recruteur.pug

			include /include/footer.pug
			include /include/scripts.pug
