// =====================================================================
//- base . jade
// NOTE : bien liasser 2 lignes vides apres les commentaires en haut
// =====================================================================



doctype html
html(lang="fr")
	// dans titre.jade => - var MAIN_TITRE = "TITRE PRINCIPAL"
	include /include/titre.jade
	head
		include /include/head.jade
		link(rel="stylesheet" href="/css/base.css")
		title #{MAIN_TITRE} : PAGE_DE_BASE
	body
		// BODY
		.container
			img(src="favicon.ico" class="rounded float-left" alt="favicon")
			h3(class="text-muted") #{MAIN_TITRE}
			// NAV
			include /include/nav.jade

			// Entete
			//.jumbotron
			//	img(src="under_construct.png" class="rounded float-left" alt="UNDER CONSTRUCTION")
			//	h1(class="display-3") PAGE_DE_BASE

			// Entete V2
			- var titre = "PAGE DE BASE"
			- var stitre = " Sous titre qui peut etre long long long voir même tres tres long "
			- var sstitre = ""
			- var texte_color = "text-white"
			div(class="alert alert-dark" role="alert")
				img(src="under_construct.png" class="rounded float-left" alt="UNDER CONSTRUCTION")
				h4(class="alert-heading") #{titre}
				p #{stitre}
				hr
				p(class="mb-0") #{sstitre}

			// Le contenu
			p(class="lead text-justify")
				| Welcome to my super lame site. <br/>
				| Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
				| Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
				| Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
				| Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.


			include /include/footer.jade
			include /include/scripts.jade
