// footer 
footer(class="footer")
	hr
	div(class="d-flex")
		div(class="p-2") &copy; Christophe BONNET 2018-ANNEE_COURANTE - Tous droits réservés |
		div(class="p-2")
			a(href="/mentions_legales.html") Mentions légales
		div(class="ml-auto p-2")
			h6(class="font-weight-light") Dernière Mise a jour le DATE_JOUR_HEURE
