// Entete des pages
// Titre 
// stitre
//sstitre

if fond_titre
	//div(class="alert alert-dark" role="alert" style="background-image:url(#{fond_titre}); background-repeat:no-repeat;" )
	div(class="alert alert-dark" role="alert" style=`background-image:url(${fond_titre})` )
		//img(src="/images/under_construct.png" height="30" width="30" class="rounded float-left" alt="UNDER CONSTRUCTION")
		h2(class=`alert-heading ${texte_color}`) #{titre}
		if stitre
			hr
			each val in stitre
				h5(class=`alert-heading ${texte_color}`) #{val}
else
	div(class="alert alert-dark" role="alert" )
		//img(src="/images/under_construct.png" height="30" width="30" class="rounded float-left" alt="UNDER CONSTRUCTION")
		h3(class="alert-heading") #{titre}
		if stitre
			hr
			each val in stitre
				h5(class="alert-heading") #{val}
