div(class="accordion" id="accordionExample")
    div(class="card")
        div(class="card-header" id="headingOne")
            h2(class="mb-0")
                button(class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne")
                    |Depuis mai 2023 – Ingénieur Système 
        div(id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample")
            div(class="card-body")
                p(class="text-secondary") INETUM, Lyon (69)
                ul
                    li En mission chez RTE au campus de Jonage sur le projet R#SPACE (Lot Virtualisation) basé sur le projet OpenSource SEAPATH. 
                    li R#SPACE est le nouveau système de contrôle commande numérique pour les postes électriques.
                    li Installation, maintenance, et support sur environnement Linux clusterisé ( corosync, ceph, pacemaker, KVM, docker, ansible, OpenVSwitch ...) des plateformes R#SPACE/SEAPATH
                    li Rédaction de la documentation
                    li Développement d'outils en Python et Shell

    div(class="card")
        div(class="card-header" id="headingTwo")
            h2(class="mb-0")
                button(class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseTwo")
                    |mai 2023 – 1999    Ingénieur Système & Réseaux / DBA Oracle
        div(id="collapseOne" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample")
            div(class="card-body")
                p(class="text-secondary") SRA INFORMATIQUE (SSII) , Bron (69)
                ul
                    li Architecte, Analyse, Audit de configuration Systèmes et Réseaux
                    li Administrateur Base de données Oracle (Installation, configuration, audit et tuning)
                    li Administration du système informatique interne 
                    li Expertise ERP SAGE  X3 (Architecture, installation, configuration, audit et tuning)
                    li Développement en Perl d’un suivi de fabrication par saisie code barre
                    li Développement de scripts
    div(class="card")
        div(class="card-header" id="headingThree")
            h2(class="mb-0")
                button(class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree")
                    |1999–1998 Responsable Informatique
        div(id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample")
            div(class="card-body")
                p(class="text-secondary") CLIP SA (Imprimerie), Vaux en Velin (69)
                ul
                    li Responsable de l’informatique interne (7 Serveurs et 25 Postes )
                    li Développement d’outils spécifique (échanges de fichiers sécurisés, Base de données, ERP)
                    li Suivi de mailing important (Tri, Impression et routage de 100 000 à 800 000 lettres)
    div(class="card")
        div(class="card-header" id="headingThree")
            h2(class="mb-0")
                button(class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour")
                    |1998–1995  Chef de Projet
        div(id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample")
            div(class="card-body")
                p(class="text-secondary") CODALYS SA (SSII), Vaux en Velin (69)
                ul
                    li Mise en œuvre du Progiciel Gestion Intégré :  ADONIX ENTREPRISE
    div(class="card")
        div(class="card-header" id="headingFive")
            h2(class="mb-0")
                button(class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive")
                    |1995–1986 Chef de Projet
        div(id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample")
            div(class="card-body")
                p(class="text-secondary") SRA INFORMATIQUE (SSII), St PRIEST (69)
                ul
                    li Informatique de Gestion
