div(class="bd-example")
	details(open="")
		summary 
			h3 Depuis – 1999	Ingénieur Système, SRA INFORMATIQUE (SSII) , Bron (69).
		ul
			li Architecte, Analyse, Audit de configuration Systèmes et Réseaux
			li Administrateur Base de données Oracle (Installation, configuration, audit et tuning)
			li Administration du système informatique interne 
			li Expertise ERP SAGE  X3 (Architecture, installation, configuration, audit et tuning)
			li Développement en Perl d’un suivi de fabrication par saisie code barre
			li Développement de scripts

	details(open="")
		summary 
			h3 1999–1998 Responsable Informatique, CLIP SA (Imprimerie), Vaux en Velin (69).
		ul
			li Responsable de l’informatique interne (7 Serveurs et 25 Postes )
			li Développement d’outils spécifique (échanges de fichiers sécurisés, Base de données, ERP)
			li Suivi de mailing important (Tri, Impression et routage de 100 000 à 800 000 lettres)

	details
		summary 
			h3 1998–1995	Chef de Projet, CODALYS SA (SSII), Vaux en Velin (69).
		ul
			li Mise en œuvre du Progiciel Gestion Intégré :  ADONIX ENTREPRISE

	details
		summary 
			h3 1995–1986 Chef de Projet, SRA INFORMATIQUE (SSII), St PRIEST (69).
		ul
			li Informatique de Gestion
