table(class="table")
	thead(class="thead-light")
		tr
			th Mois Année
			th Libellé du cours 
			th Certificat
	tbody
		tr
			td Juin 2021
			td Gérez du code avec Git et GitHub
			td
				a(class="btn btn-default btn-success" href="/download/Certif_OC_Gerez_du_code_avec_Git_et_Github.pdf" role="button") Certificat
		tr
			td mai 2021
			td Apprenez à créer votre site web avec HTML5 et CSS3 
			td
				a(class="btn btn-default btn-success" href="/download/Certif_OC_apprenez_a_creer_votre_site_web_avec_HTML5_et_CSS3.pdf" role="button") Certificat
		tr
			td juin 2019
			td Découvrez la méthodologie DevOps
			td
				a(class="btn btn-default btn-success" href="/download/Certif_OC_Découvrez_la_méthodologie_DevOps.pdf" role="button") Certificat
		tr
			td juin 2019
			td Optimisez votre déploiement en créant des conteneurs avec Docker 
			td
				a(class="btn btn-default btn-success" href="/download/Certif_OC_Optimisez_votre_deploiement_en_creant_des_conteneurs_avec_Docker.pdf" role="button") Certificat
		tr
			td juin 2019
			td Réalisez un dashboard avec Tableau
			td
				a(class="btn btn-default btn-success" href="/download/Certif_OC_realisez_un_dashboard_avec_Tableau.pdf" role="button") Certificat
		tr
			td mai 2019
			td Démarrez votre projet avec Python
			td
				a(class="btn btn-default btn-success" href="/download/Certif_OC_demarrez_votre_projet_avec_python.pdf" role="button") Certificat
		tr
			td avril 2019
			td Gérez vos codes source avec Git 
			td
				
		tr
			td avril 2019
			td Découvrez le cloud avec Amazon Web Services
			td
				a(class="btn btn-default btn-success" href="/download/Certif_OC_découvrez_le_cloud_avec_AWS.pdf" role="button") Certificat
		tr
			td mars 2019
			td Adoptez une architecture MVC en PHP
			td
				a(class="btn btn-default btn-success" href="/download/Certif_OC_adoptez_une_architecture_MVC_en_PHP.pdf" role="button") Certificat
		tr
			td mars 2019
			td Concevez votre site web avec PHP et MySQL
			td
				a(class="btn btn-default btn-success" href="/download/Certif_OC_concevez_votre_site_web_avec_PHP_etMySQL.pdf" role="button") Certificat
		tr
			td mars 2019
			td Programmez en orienté objet en PHP
			td
				a(class="btn btn-default btn-success" href="/download/Certif_OC_Programmez_en_oriente_objet_en_PHP.pdf" role="button") Certificat
