table(class="table")
	thead(class="thead-light")
		tr
			th  Année
			th Description de la formation
			th Certification 
	tbody
		tr
			td(align="center")  2023
			td Advanced Docker Principles: Docker for Microservices Strategies
			td &nbsp
		tr
			td(align="center")  2023
			td Advanced Docker: Exploring Advanced Docker Principles & Practices
			td &nbsp
		tr
			td(align="center")  2023
			td Automated Testing with Docker
			td &nbsp
		tr
			td(align="center")  2023
			td Docker Compose: Terminology & Installation
			td &nbsp
		tr
			td(align="center")  2023
			td Docker Compose: Using Docker Compose
			td &nbsp
		tr
			td(align="center")  2023
			td Docker Configuration & Management
			td &nbsp
		tr
			td(align="center")  2023
			td Docker Skills: Advanced Docker Security
			td &nbsp
		tr
			td(align="center")  2023
			td Habilitations électriques HOV HO BO
			td(align="center") <a href="download/Habilitations_HOBO.pdf">Certificat</a>
		tr
			td(align="center")  2023
			td Intelligence Artificielle et Algorithmes 
			td(align="center") <a href="download/Certificat_IA_et_Algo.pdf">Certificat</a>
		tr
			td(align="center")  2023
			td Intelligence Artificielle et Data
			td(align="center") <a href="download/Certificat_IA_et_DATA.pdf">Certificat</a>

		tr
			td(align="center")  2023
			td Les fondamentaux avancés de l’Intelligence Artificielle 
			td &nbsp
		tr
			td(align="center")  2023
			td Les fondamentaux de l'IA
			td(align="center") <a href="download/Certificat_IA_fondamentaux.pdf">Certificat</a>
		tr
			td(align="center")  2018
			td JIRA Administration Service Desk
			td &nbsp
		tr
			td(align="center") 2016
			td VMware vSphere : Installation, Configuration et Administration
			td &nbsp
		tr
			td(align="center") 2011
			td Oracle V11 Administration, sauvegarde
			td &nbsp
		tr
			td(align="center") 2009
			td Oracle V10 Administration, sauvegarde, RAC 
			td &nbsp
		tr
			td(align="center") 2009
			td Administrateur Système AIX 
			td(align="center") Certifié
		tr
			td(align="center") 2008
			td Linux Administration avancée et réseaux
			td &nbsp
		tr
			td(align="center") 2006
			td Certification Administrateur Système AIX 
			td(align="center") Certifié
		tr
			td(align="center") 2003
			td Certification Administrateur Système AIX 
			td(align="center") Certifié
