// Head 
meta(charset="utf-8")
meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
link(rel="stylesheet" href="/css/bootstrap.min.css")
link(rel="shortcut icon" href="/favicon.ico" type="image/x-icon")


//script
//	|$(".nav .nav-link").on("click", function(){ $(".nav").find(".active").removeClass("active"); $(this).addClass("active"); });

