// BARRE DE NAVIGATION 
.header.clearfix
	nav
		ul(class="nav nav-pills float-left")
			li(class="nav-item")
				a(class="nav-link " data-toggle="link" href="/main.html") Accueil
			li(class="nav-item")
				a(class="nav-link " data-toggle="link" href="/exp.html") Expériences
			li(class="nav-item")
				a(class="nav-link " data-toggle="link" href="/competences.html") Compétences
			li(class="nav-item")
				a(class="nav-link " data-toggle="link" href="/formations.html") Formations
			li(class="nav-item")
				a(class="nav-link " data-toggle="link" href="/realisations.html") Réalisations
			li(class="nav-item")
				a(class="nav-link " data-toggle="link" href="/publications.html") Publications
			li(class="nav-item")
				a(class="nav-link " data-toggle="link" href="/recherche.html") Critères
			li(class="nav-item")
				a(class="nav-link " data-toggle="link" href="/recruteur.html") Recruteurs
			li(class="nav-item")
				a(class="nav-link " data-toggle="link" href="/download.html#") Téléchargements
			li(class="nav-item")
				a(class="nav-link " data-toggle="link" href="/contact.html") Contact
			li(class="nav-item")
				a(class="nav-link " data-toggle="link" href="/about.html") A Propos

