table(class="table")
	thead(class="thead-light")
		tr
			th Niveau 
			th Icône
			th Description du niveau
	tbody
		tr
			td(class="bg-light text-black") Notions
			td
				div(class="d-inline")
					include /include/1_star.pug
			td Connaissances des principes de bases, mais pas de mise en exploitation ou production, de la technologie
		tr
			td(class="bg-light text-black") Utilisateur
			td
				div(class="d-inline")
					include /include/2_star.pug
			td Technologie testée et utilisée, pas ou très peu de mise en exploitation
		tr
			td(class="bg-warning text-black") Confirmé 
			td
				div(class="d-inline")
					include /include/3_star.pug
			td Technologie avec maitrise des fondamentaux de l'administration, mise en oeuvre en production
		tr
			td(class="bg-success text-white") Maîtrise 
			td
				div(class="d-inline")
					include /include/4_star.pug
			td Technologie maîtrisée depuis de nombreuses années
		tr
			td(class="bg-danger text-white") Expert 
			td
				div(class="d-inline")
					include /include/5_star.pug
			td Reconnu par les autres comme tel
