div(class="container")
	div(class="row align-items-center")
		div(class="col-1")
			img(src="images/favicon-16x16.png" class="rounded" alt="favicon")
		div(class="col-5")
			h3(class="text-muted") #{MAIN_TITRE}
		div(class="col-1")
			img(src="images/favicon-16x16.png" class="rounded" alt="favicon")
