ul(class="nav nav-tabs" id="myTab" role="tablist")
	li(class="nav-item")
		a(class="nav-link active bg-warning border border-dark" id="tab01-tab" data-toggle="tab" href="#tab01" role="tab" aria-controls="tab01" aria-selected="true") R#SPACE Virtualisation 
	li(class="nav-item")
		a(class="nav-link  bg-warning border border-dark" id="tab02-tab" data-toggle="tab" href="#tab02" role="tab" aria-controls="tab02" aria-selected="true") Perl & MySQL 
	li(class="nav-item")
		a(class="nav-link  bg-warning border border-dark" id="tab03-tab" data-toggle="tab" href="#tab03" role="tab" aria-controls="tab03" aria-selected="true") Raspberry & SMS 
	li(class="nav-item")
		a(class="nav-link  bg-warning border border-dark" id="tab04-tab" data-toggle="tab" href="#tab04" role="tab" aria-controls="tab04" aria-selected="true") Python & BDD 
	li(class="nav-item")
		a(class="nav-link  bg-warning border border-dark" id="tab05-tab" data-toggle="tab" href="#tab05" role="tab" aria-controls="tab05" aria-selected="true") GO & Mail 
	li(class="nav-item")
		a(class="nav-link  bg-warning border border-dark" id="tab06-tab" data-toggle="tab" href="#tab06" role="tab" aria-controls="tab06" aria-selected="true") PYTHON & JIRA 
	li(class="nav-item")
		a(class="nav-link  bg-warning border border-dark" id="tab07-tab" data-toggle="tab" href="#tab07" role="tab" aria-controls="tab07" aria-selected="true") PYTHON & REST 
	li(class="nav-item")
		a(class="nav-link  bg-warning border border-dark" id="tab08-tab" data-toggle="tab" href="#tab08" role="tab" aria-controls="tab08" aria-selected="true") BOOSTRAP PUG GIT 
div(class="tab-content" id="myTabContent")
	div(class="tab-pane fade show active" id="tab01" role="tabpanel" aria-labelledby="tab01-tab")
		<br>
		h3  Projet R#SPACE de RTE
		<br>
		p(class="small")  
			| Réseau de Transport d'Électricité (RTE) : En France, RTE est le gestionnaire du réseau de transport d'électricité. Il est responsable de l'exploitation, de la maintenance <br>
			| et du développement du réseau de lignes à haute tension, assurant ainsi l'acheminement de l'électricité depuis les producteurs jusqu'aux distributeurs et grands consommateurs. <br>
			|   <br>
			| Le projet R#SPACE est une initiative majeure de RTE visant à moderniser et améliorer les systèmes de contrôle-commande de ses postes électriques. <br>
			| Ce projet repose sur des technologies avancées et des principes modernes pour garantir la standardisation, l'interopérabilité et la sécurité des infrastructures critiques. <br>
			|   <br>
			| Les systèmes de contrôle-commande sont des ensembles de technologies et de logiciels utilisés pour surveiller, gérer et automatiser les opérations des infrastructures de transport d'électricité. <br>
			| Ces systèmes assurent le bon fonctionnement des postes de transformation en permettant une supervision en temps réel, le contrôle à distance des équipements, et la gestion des incidents et des maintenances. <br>
			|   <br>
			| Physiquement un poste de commande R#SPACE est constitué de 4 armoires industrielles, destinées à être implantées sur site, ou se trouvent <br>
			| plusieurs serveurs qui vont permettre de : <br>
			|   <br>
			| - surveiller et superviser <br>
			| - permettre le controle a distance <br>
			| - Gérer les incidents et la maintenance <br>
			|   <br>
			| Mais aussi <br>
			|   <br>
			| - Faciliter l'interopabilité dans un environnement multi-fournisseurs <br>
			| - Standardiser la gestion d'un poste de commande (Norme IEC61850) <br>
			|   <br>
			| Et bien entendu intègrer un haut niveau de sécurité et de résilence pour assurer la continuité du service même en cas de perturbations majeures <br>
			|   <br>
			| Ces serveurs font l'interface entre les périphériques électriques intelligents (IED) et les êtres humains intervenant sur le réseau. <br>
			| Les IEDs sont des organes spécialisés dans tout ce qui concerne la gestion, la surveillance, la stabilité du réseau électrique. <br>
			|   <br>
			| Plus d'informations : https://www.rte-france.com/fournisseurs/network-together#LeprojetRSPACE <br>
			|   <br>
			| Je remercie ChatGPT qui m'a bien aidé pour retrouver ces définitions officielles :) <br>
			|   <br>
			| Mon rôle dans le lot A Virtualisation ou "Virtu" est multiple : <br>
			| En fil rouge rédiger la documentation et la maintenir à jour. <br>
			| Mais je dois aussi mettre en place les plateformes, les installer et les configurer. une plateforme est un ensemble de serveurs, routeurs, parefeu <br>
			| qui simule la partie virtualisation d'un poste R#SPACE, cela permet aux autres équipes de developper, tester et configurer les autres périphériques. <br>
			| Le tout est en cours d'industrialisation, car à terme il y aura 3000 postes de commandes à faire évoluer. <br>
			|   <br>
			| Et je dois aussi developper des outils spécifiques basé sur GITLAB, Docker, Python et du shell <br>
			|   <br>
			| Technologies : <br>
			| Clusterisation avec corosync, ceph, pacemaker, OpenVswitch <br>
			| Virtualisation : KVM libvirt Qemu Docker <br>
			| Outils de suivi des sources : GitLab / Git <br>
			| Installation : fai, ansible <br>
			| Langages : Python Shell <br>
			|   <br>
			|   <br>
			|   <br>
			|   <br>
			|   <br>
	div(class="tab-pane fade show " id="tab02" role="tabpanel" aria-labelledby="tab02-tab")
		<br>
		h3  Suivi de Fabrication en Perl
		<br>
		p(class="small")  
			| Au siècle dernier, un de mes collègues avait mis au point un suivi de fabrication simplifié lié à la gestion <br>
			| commerciale. <br>
			|   <br>
			| Cela a permis d'effectuer un suivi de la fabrication presque en temps réel. Les délais de fabrication étant fixés par contrat <br>
			| les clients de mon client pouvaient savoir ou en était leur commande juste avec un coup de fil (internet n'était encore <br>
			| très utilisé) les données remontaient chaque fois que quelqu'un bipait sur un dossier. <br>
			|   <br>
			| Basé sur des terminaux séries avec 2 lignes de 16 caracteres il fallait trouver un dialogue simple avec les utilisateurs <br>
			| Je ne sais plus qui a eu l'idée du code-barre mais cela simplifiait énormément la chose. <br>
			|   <br>
			| Il fallait 2 choses : le dossier de fabrication qui avait un code barre et une feuille A4 par utilisateur ou se trouvait <br>
			| codifié le code de l'utilisateur, l'opération et sont status (début, fin, arrêt etc .. ) <br>
			|   <br>
			| En 2 bips les informations remontaientt des postes de fabrications. <br>
			|   <br>
			| En 2005 l'outil arrivait au bout de sa course, à cause du coût de chaque poste la liaison série imposait des vitesses réduites <br>
			| et des câbles spécifiques. <br>
			|   <br>
			| Il fallait évoluer. <br>
			|   <br>
			| Il existait des solutions basé sur Windows NT (le unix killer de l'époque :) ) et des terminaux symbol mais tout cela était <br>
			| disproportionné par rapport au besoin de base et au budget. <br>
			|   <br>
			| J'avais découvert le langage perl quelque années auparavant et je m'amusais avec les exemples du célèbre livre "Perl CookBook" de chez <br>
			| O'Reilly ( Perl en Action en Français ). <br>
			| Dedans se trouvait un exemple d'un serveur TCP simpliste. <br>
			| Après quelques tests pour étudier la faisabilité, je proposais une évolution pour le suivi de fabrication. <br>
			|   <br>
			| La base du dialogue n'avait pas à être changé, les liaisons séries devaient être remplacé par du réseau TCP/IP <br>
			| Les terminaux séries pouvaient être remplacés par des terminaux VT sans soucis, un cable en 'Y' permettait de gérer le clavier et <br>
			| le lecteur code barre tout cela pour beaucoup moins cher, sans licence et quasiment sans limite. <br>
			|   <br>
			| L'échange avec la gestion se fait par un table commune entre les 2 bases,  constamment synchronisée par un processus dédié <br>
			| entre la base Mysql du code Barre et la base Oracle de l'ERP. <br>
			|   <br>
			| Il fallait que cela soit asycnhrone car nous avions vécu la pénibilité d'avoir a gérer des arrêts du code barre, à  chaque fois que la gestion devait s'arrêter <br>
			| alors que  le coté production n'était pas concerné. <br>
			|   <br>
			| Avec ce processus de synchro et sa propre base le code barre est un outil indépendant de l'ERP. <br>
			|   <br>
			| L'utilisation d'écran standard a permis d'afficher beaucoup d'informations dont les opérations en cours et a venir, permettant ainsi <br>
			| a certain poste d'optimise leur travail <br>
			|   <br>
			| Développé en 2005 ce petit exemple issue du Perl CookBook a été modifié plusieurs fois, mais depuis il continue a fonctionné <br>
			| de manière autonome même au moment au j'écrit ces lignes en 2019 <br>
			|   <br>
			| Un projet de remplacement est en à l'étude, mais si c'est moi qui doit le faire cela sera en python. <br>
			|   <br>
			| J'ai beaucoup aimé codé en perl. Mais à l'usage c'est un langage difficile à lire et relire quand on ne le pratique pas tout les jours. <br>
			| Et la moindre modifs de ce scripts d'environ 3000 lignes me prend 3 jours dont 1 journée pour relire et me remettre dedans. <br>
			|   <br>
			| D'un autre coté c'est gràce a la concision et la simplicité de Perl, ainsi que  la manière très particulière qu'a Larry Wall le créateur de ce langage <br>
			| de voir les choses, que j'ai compris la différence entre une variable et un objet (au sens informatique du terme). <br>
			| En perl un objet est un variable "Bénie" (la commande est bless $variable) qui devient unique dans le traitement. <br>
			| Vous pouvez réfléchir sur le sens profond de ceci. <br>
			|   <br>
			|   <br>
	div(class="tab-pane fade show " id="tab03" role="tabpanel" aria-labelledby="tab03-tab")
		<br>
		h3  Suivi de température
		<br>
		p(class="small")  
			| Topic : raspberry et envoi de SMS <br>
			|   <br>
			| Pour la petite histoire ce projet est venu sur le tapis par hasard. En entendant mon patron raler après la société qui <br>
			| s'occupe de la climatisation, au sujet d'un devis de 3000 euros pour un testeur de température dans la salle serveur. <br>
			|   <br>
			| Auparavant 2 ou 3 fois la climatisation était soit tombé en rade, soit non remise en route et dans la salle serveur la température <br>
			| monte en moins d'une heure à plus de 40° ce qui met en défaut les processeurs sinon ils crament. <br>
			|   <br>
			| De mon coté, J'étais en pleine lecture de Hackable Magazine et autre mensuel sur la bidouille informatico-electronique basé sur le <br>
			| raspberry et l'arduino. <br>
			|   <br>
			| Et la j'ai dit que je pouvais faire la même chose pour quelques centaines d'euros (surtout ne pas avancer de chiffre trop précis) <br>
			| La réponse ne s'est pas fait attendre. <br>
			| Donc j'ai présenté des devis pour : <br>
			| - un raspberry <br>
			| - du câble <br>
			| - des testeurs de temperature <br>
			| - du scotch <br>
			| - une alimentation <br>
			| - un écran LCD <br>
			| et ce qui a couté le plus cher : un modem GSM <br>
			|   <br>
			| Bricolé avec un raspberry un testeur de temperature c'est facile, surtout quand on connait Unix et le langage python <br>
			| Zabbix un outil de supervision m'a permis de gérer les écarts et le déclenchement de scripts en fonction de seuil <br>
			| Moins facile l'envoi de SMS c'ets ce qui m'a donné le plus de difficulté et de temps, j'ai fini par écrire un spooler <br>
			| simplifié basé sur les fichiers fifo d'unix. <br>
			| Cela a marché quelques années sans soucis et nous a rendu quelques services en cas de coupure d'électricité <br>
			| Puis un jour, le boss a voulu récupérer la carte SIM, mon collègue a cherché dans le mauvais boitier <br>
			| et sans le faire exprès a arraché une partie du câblage. <br>
			|   <br>
			| Je ne l'ai pas remis en route faute de pouvoir utiliser le modem, inutilisable sans carte SIM. <br>
			|   <br>
			| Par contre à l'époque j'avais pris la peine d'écrire un blog https://clyontech.wordpress.com/prendre-la-temperature-avec-un-rasperry/ <br>
			|   <br>
			|   <br>
	div(class="tab-pane fade show " id="tab04" role="tabpanel" aria-labelledby="tab04-tab")
		<br>
		h3  Simulation d'activité
		<br>
		p(class="small")  
			| Mettre en place de la réplication de base de données Oracle c'est bien. <br>
			| Mais cela sous entend que la base de données ait des données et si possible vivante et changeante. <br>
			|   <br>
			| C'est ainsi que j'ai codé une simulation d'activité <br>
			|   <br>
			| Un truc simple : <br>
			|   <br>
			| Des clients des produits des fournisseurs <br>
			| Un stock <br>
			| Des  commandes clients, des livraisons <br>
			| Des commandes fournisseurs des réceptions <br>
			|   <br>
			| 4 processus : <br>
			| 1 pour la prise de commande client : à intervalle régulier de 8h a 11h et de 13 à 16h <br>
			| des clients choisissent des produits dans la base et passe des commandes <br>
			|   <br>
			| Les livraisons se déclenchent à 11h30 et 17h génération des livraisons en fonction du stock disponible <br>
			|   <br>
			| A 12h00 et 18H génération des commandes fournisseurs en fonction des commandes clients <br>
			|   <br>
			| Les réceptions fournisseurs se font a 9h et 11h puis à 16h30 chaque produit a un délai de réapprovisionnement <br>
			|   <br>
			| Je l'ai laissé tourné pendant plus d'un an sans soucis, cela nous a permis de mettre au point <br>
			| les scripts de réplication de base de données ORACLE et de sauvegarde RMAN (Recovery Manager) <br>
			| Cela nous a permis de tester les restaurations et les incidents sur des données presque réelles. <br>
			| Avec des millions de lignes et plusieurs giga-octets de volume. <br>
			|   <br>
	div(class="tab-pane fade show " id="tab05" role="tabpanel" aria-labelledby="tab05-tab")
		<br>
		h3  Remplacement de meladx
		<br>
		p(class="small")  
			| Sage X3 est un vieil ERP constamment remis au gout du jour <br>
			| Mais il traîne encore certains points pas vraiment d'actualité <br>
			|   <br>
			| Ex: l'envoi de mail <br>
			|   <br>
			| L'utilitaire fourni par Sage et en fait un vieux binaire codé en C <br>
			| qui se charge de se connecter sur le port 25 d'un serveur SMTP <br>
			| et d'envoyer les commande ( EHLO ... etc .. ) sur ce port <br>
			| Pas d'authentification ni de cryptage <br>
			| La bonne vieille méthode des années 90 et 2000 <br>
			|   <br>
			| Lassé d'expliquer aux administrateurs qu'ils devaient ouvrir le port 25 au 21e siècle <br>
			| Je me suis décidé de coder cet utilitaire juste pour voir si j'en étais capable. <br>
			|   <br>
			| Comme le langage GO faisait parler de lui et que cela m'intéressais, surtout qu'avec le même script je pouvais générer <br>
			| un binaire pour Windows et Linux. <br>
			|   <br>
			| Et peu de temps après j'avais une version utilisable et multi-plateforme (enfin au moins celle qui m'interressais) <br>
			| Nous l'avons mis en application en interne et il a pas trop mal fonctionné. <br>
			| Aucune décision pour finaliser ce produit n'a été prise et je ne voulais pas mettre en production un outil <br>
			| d'importance et en assumer la maintenance tout seul. <br>
			| Mais j'ai appris un peu le GO ... <br>
			|   <br>
			|   <br>
	div(class="tab-pane fade show " id="tab06" role="tabpanel" aria-labelledby="tab06-tab")
		<br>
		h3  Time Sheet JIRA
		<br>
		p(class="small")  
			| JIRA est un bel outil bien fait et même joli. <br>
			| Mais il manque quelques petits trucs tout bete. <br>
			|   <br>
			| Par exemple ais je bien noté tout mon temps ? Comment savoir si je n'ai pas noté 2 fois la même chose ? <br>
			|   <br>
			| La aussi basé sur l'API REST et une librairie python, j'ai développé une petite application Web permettant <br>
			| a quelques utilisateurs de visualiser les temps saisies. <br>
			|   <br>
			| Python + Django + Pug + Bootstrap <br>
			|   <br>
	div(class="tab-pane fade show " id="tab07" role="tabpanel" aria-labelledby="tab07-tab")
		<br>
		h3  Export des données JIRA
		<br>
		p(class="small")  
			| Avoir un suivi de ticket pour le support c'est bien. <br>
			| Mais encore faut il pouvoir facturer les clients et mettre à jour les contrats. <br>
			|   <br>
			| C'est le but de cet export basé sur les API REST de JIRA et écrit en python <br>
			|   <br>
			| Il permet d'automatiser le transfert des données vers l'outil de gestion et la base de Business Intelligence <br>
			|   <br>
	div(class="tab-pane fade show " id="tab08" role="tabpanel" aria-labelledby="tab08-tab")
		<br>
		h3  Ce site
		<br>
		p(class="small")  
			| Rédiger un CV n'est pas un exercice facile, il faut respecter certaines contraintes de format et tout cela en quelques lignes. <br>
			| Avec un site CV même combat, mais le format est plus libre, et en plus cela permet de découvrir de nouvelles technologies <br>
			| et de se confronter au World Wide Web. <br>
			|   <br>
			| Le HTML est, à mon avis, verbeux et difficile à lire. Même si c'est indéniablement une réussite technologique. <br>
			| Le css c'est pas mieux. <br>
			| La plupart des éditeurs HTML générent une bouillie difficile à modifier. <br>
			|   <br>
			| Bref malgré de nombreuses tentatives, je n'arrivais pas à trouver la matière première qui me convenais. <br>
			|   <br>
			| Puis un jour en essayant de comprendre comment on gérait des sites webs adaptatifs ( il faut dire responsive ... je crois ) je découvrais <br>
			| la librairie CSS bootstrap. <br>
			|   <br>
			| Au hasard d'un surf, j'avais découvert jade (il faut dire pug maintenant)  un moteur de template vraiment sympa pour faire du html plus simplement. <br>
			|   <br>
			| Avec quelques tests Bootstrap + Pug m'ont plus tout de suite, avec un minimum d'effort on peut générer du HTML lisible sur smartphone, tablette PC ... <br>
			|   <br>
			| VI est mon éditeur de prédilection depuis longtemps, même si il doit bien exister d'autre outils du style de make c'est celui que je connais <br>
			| le mieux. <br>
			|   <br>
			| VI + MAKE + BOOTSTRAP + PUG + des scripts python shell etc ... et voici comment se génére ce site <br>
			|   <br>
			| En tapant 'make' les pages sont générées, le bas de page est mis à jour avec la date et l'heure, les scripts éxécutés et le tout transféré chez l'hébergeur. <br>
			|   <br>
			| Il ne manquait plus qu'un gestionnaire de version : GIT <br>
			|   <br>
			| Et avec ce site j'ai même mis en oeuvre différentes branches ( dev / prod / master ... ) afin de n'avoir qu'un seul repository pour les différentes versions. <br>
			|   <br>
			| Et pouvoir comparer et diffuser les modifications effectuées sur les branches au cas par cas facilement. <br>
			|   <br>
			| Connaissant l'histoire de git, je ne dirais qu'une seule chose : Mr Torvalds ... respect. <br>
