 
//
// Table des competences
//
div(class="container")
    div(class="row")
        table(class="table table-bordered ")
            tbody
    

            tr
                td(colspan=4 class="bg-info text-white")
                    h5 Catégorie PYTHON
            tr
                th  &nbsp
                th  Description
                th  Date obtention
                th  Badge
    
 
            tr
                td  &nbsp
                td  Fonctions 
                td  20/02/16
                td 
                    img(src="/images/PYTHON.png" width="30" height="30" alt=" Badge PYTHON") 
                    
    
 
            tr
                td  &nbsp
                td  Prendre des vacances 
                td  20/02/16
                td 
                    img(src="/images/PYTHON.png" width="30" height="30" alt=" Badge PYTHON") 
                    
    
 
            tr
                td  &nbsp
                td  Les fonctions 
                td  16/02/16
                td 
                    img(src="/images/PYTHON.png" width="30" height="30" alt=" Badge PYTHON") 
                    
    
 
            tr
                td  &nbsp
                td  Pyg Latin 
                td  24/07/15
                td 
                    img(src="/images/PYTHON.png" width="30" height="30" alt=" Badge PYTHON") 
                    
    
 
            tr
                td  &nbsp
                td  Conditions et structure de contrôle 
                td  26/05/15
                td 
                    img(src="/images/PYTHON.png" width="30" height="30" alt=" Badge PYTHON") 
                    
    
 
            tr
                td  &nbsp
                td  Date et heure 
                td  25/05/15
                td 
                    img(src="/images/PYTHON.png" width="30" height="30" alt=" Badge PYTHON") 
                    
    
 
            tr
                td  &nbsp
                td  Strings et affichage en console 
                td  25/05/15
                td 
                    img(src="/images/PYTHON.png" width="30" height="30" alt=" Badge PYTHON") 
                    
    
 
            tr
                td  &nbsp
                td  Calculateur de pourboire 
                td  14/08/14
                td 
                    img(src="/images/PYTHON.png" width="30" height="30" alt=" Badge PYTHON") 
                    
    
 
            tr
                td  &nbsp
                td  La syntaxe de Python 
                td  14/08/14
                td 
                    img(src="/images/PYTHON.png" width="30" height="30" alt=" Badge PYTHON") 
                    
    
 
            tr
                td  &nbsp
                td  Unit 4: Functions 
                td  10/08/12
                td 
                    img(src="/images/PYTHON.png" width="30" height="30" alt=" Badge PYTHON") 
                    
    
 
            tr
                td  &nbsp
                td  Unit 3: Conditionals & Control Flow 
                td  10/08/12
                td 
                    img(src="/images/PYTHON.png" width="30" height="30" alt=" Badge PYTHON") 
                    
    
 
            tr
                td  &nbsp
                td  Date and Time 
                td  10/08/12
                td 
                    img(src="/images/PYTHON.png" width="30" height="30" alt=" Badge PYTHON") 
                    
    
 
            tr
                td  &nbsp
                td  Unit 2: Strings & Console Output 
                td  10/08/12
                td 
                    img(src="/images/PYTHON.png" width="30" height="30" alt=" Badge PYTHON") 
                    
    
 
            tr
                td  &nbsp
                td  FizzBuzz 
                td  09/08/12
                td 
                    img(src="/images/PYTHON.png" width="30" height="30" alt=" Badge PYTHON") 
                    
    
 
            tr
                td  &nbsp
                td  Getting Started with Programming 
                td  09/08/12
                td 
                    img(src="/images/PYTHON.png" width="30" height="30" alt=" Badge PYTHON") 
                    
    
 
            tr
                td  &nbsp
                td  Max Streak Count of 3 
                td  09/08/12
                td 
                    img(src="/images/PYTHON.png" width="30" height="30" alt=" Badge PYTHON") 
                    
    
 
            tr
                td  &nbsp
                td  Tip Calculator 
                td  08/08/12
                td 
                    img(src="/images/PYTHON.png" width="30" height="30" alt=" Badge PYTHON") 
                    
    
 
            tr
                td  &nbsp
                td  Unit 1: Python Syntax 
                td  08/08/12
                td 
                    img(src="/images/PYTHON.png" width="30" height="30" alt=" Badge PYTHON") 
                    
    
 
            tr
                td  &nbsp
                td  First Lesson 
                td  04/08/12
                td 
                    img(src="/images/PYTHON.png" width="30" height="30" alt=" Badge PYTHON") 
                    
    
 
            tr
                td  &nbsp
                td  Max Streak Count of 1 
                td  04/08/12
                td 
                    img(src="/images/PYTHON.png" width="30" height="30" alt=" Badge PYTHON") 
                    
    

            tr
                td(colspan=4 class="bg-info text-white")
                    h5 Catégorie JAVASCRIPT
            tr
                th  &nbsp
                th  Description
                th  Date obtention
                th  Badge
    
 
            tr
                td  &nbsp
                td  jQuery Bar Graph 
                td  10/06/13
                td 
                    img(src="/images/JAVASCRIPT.png" width="30" height="30" alt=" Badge JAVASCRIPT") 
                    
    
 
            tr
                td  &nbsp
                td  Starting a Startup 
                td  12/11/12
                td 
                    img(src="/images/JAVASCRIPT.png" width="30" height="30" alt=" Badge JAVASCRIPT") 
                    
    
 
            tr
                td  &nbsp
                td  Dice Game 
                td  12/11/12
                td 
                    img(src="/images/JAVASCRIPT.png" width="30" height="30" alt=" Badge JAVASCRIPT") 
                    
    
 
            tr
                td  &nbsp
                td  Javascript review for jQuery 
                td  04/11/12
                td 
                    img(src="/images/JAVASCRIPT.png" width="30" height="30" alt=" Badge JAVASCRIPT") 
                    
    
 
            tr
                td  &nbsp
                td  Building an Address Book 
                td  03/11/12
                td 
                    img(src="/images/JAVASCRIPT.png" width="30" height="30" alt=" Badge JAVASCRIPT") 
                    
    
 
            tr
                td  &nbsp
                td  Loops in JavaScript 
                td  05/09/12
                td 
                    img(src="/images/JAVASCRIPT.png" width="30" height="30" alt=" Badge JAVASCRIPT") 
                    
    
 
            tr
                td  &nbsp
                td  Introduction to Objects II 
                td  02/09/12
                td 
                    img(src="/images/JAVASCRIPT.png" width="30" height="30" alt=" Badge JAVASCRIPT") 
                    
    
 
            tr
                td  &nbsp
                td  Introduction to Objects I 
                td  29/08/12
                td 
                    img(src="/images/JAVASCRIPT.png" width="30" height="30" alt=" Badge JAVASCRIPT") 
                    
    
 
            tr
                td  &nbsp
                td  Blackjack: Deal 'em Up 
                td  26/08/12
                td 
                    img(src="/images/JAVASCRIPT.png" width="30" height="30" alt=" Badge JAVASCRIPT") 
                    
    
 
            tr
                td  &nbsp
                td  Conditionals in JavaScript 
                td  25/08/12
                td 
                    img(src="/images/JAVASCRIPT.png" width="30" height="30" alt=" Badge JAVASCRIPT") 
                    
    
 
            tr
                td  &nbsp
                td  Hello, New York 
                td  20/08/12
                td 
                    img(src="/images/JAVASCRIPT.png" width="30" height="30" alt=" Badge JAVASCRIPT") 
                    
    
 
            tr
                td  &nbsp
                td  Review of Functions in JavaScript 
                td  20/08/12
                td 
                    img(src="/images/JAVASCRIPT.png" width="30" height="30" alt=" Badge JAVASCRIPT") 
                    
    
 
            tr
                td  &nbsp
                td  Functions in JavaScript 
                td  20/08/12
                td 
                    img(src="/images/JAVASCRIPT.png" width="30" height="30" alt=" Badge JAVASCRIPT") 
                    
    
 
            tr
                td  &nbsp
                td  Build a Webpage from Scratch! 
                td  18/08/12
                td 
                    img(src="/images/JAVASCRIPT.png" width="30" height="30" alt=" Badge JAVASCRIPT") 
                    
    
 
            tr
                td  &nbsp
                td  A Simple Counter 
                td  18/08/12
                td 
                    img(src="/images/JAVASCRIPT.png" width="30" height="30" alt=" Badge JAVASCRIPT") 
                    
    
 
            tr
                td  &nbsp
                td  HTML + Javascript + CSS 
                td  17/08/12
                td 
                    img(src="/images/JAVASCRIPT.png" width="30" height="30" alt=" Badge JAVASCRIPT") 
                    
    

            tr
                td(colspan=4 class="bg-info text-white")
                    h5 Catégorie HTML
            tr
                th  &nbsp
                th  Description
                th  Date obtention
                th  Badge
    
 
            tr
                td  &nbsp
                td  Complete all units in HTML & CSS 
                td  05/03/16
                td 
                    img(src="/images/HTML.png" width="30" height="30" alt=" Badge HTML") 
                    
    
 
            tr
                td  &nbsp
                td  Complete all lessons in HTML & CSS 
                td  05/03/16
                td 
                    img(src="/images/HTML.png" width="30" height="30" alt=" Badge HTML") 
                    
    
 
            tr
                td  &nbsp
                td  La structure de l'HTML : Tableaux, "Divs", et "Spans" 
                td  23/02/16
                td 
                    img(src="/images/HTML.png" width="30" height="30" alt=" Badge HTML") 
                    
    
 
            tr
                td  &nbsp
                td  Une page avec photo cliquable 
                td  23/02/16
                td 
                    img(src="/images/HTML.png" width="30" height="30" alt=" Badge HTML") 
                    
    
 
            tr
                td  &nbsp
                td  Le b.a.-ba du langage HTML III 
                td  23/02/16
                td 
                    img(src="/images/HTML.png" width="30" height="30" alt=" Badge HTML") 
                    
    
 
            tr
                td  &nbsp
                td  La structure de l'HTML : Utiliser des listes 
                td  21/02/16
                td 
                    img(src="/images/HTML.png" width="30" height="30" alt=" Badge HTML") 
                    
    
 
            tr
                td  &nbsp
                td  Profil d'un Réseau Social 
                td  21/02/16
                td 
                    img(src="/images/HTML.png" width="30" height="30" alt=" Badge HTML") 
                    
    
 
            tr
                td  &nbsp
                td  Le b.a.-ba du langage HTML II 
                td  21/02/16
                td 
                    img(src="/images/HTML.png" width="30" height="30" alt=" Badge HTML") 
                    
    
 
            tr
                td  &nbsp
                td  Introduction au HTML 
                td  21/02/16
                td 
                    img(src="/images/HTML.png" width="30" height="30" alt=" Badge HTML") 
                    
    
 
            tr
                td  &nbsp
                td  Développez votre propre site 
                td  21/02/16
                td 
                    img(src="/images/HTML.png" width="30" height="30" alt=" Badge HTML") 
                    
    
 
            tr
                td  &nbsp
                td  Le b.a.-ba du langage HTML 
                td  21/02/16
                td 
                    img(src="/images/HTML.png" width="30" height="30" alt=" Badge HTML") 
                    
    
 
            tr
                td  &nbsp
                td  404 Badge 
                td  17/02/13
                td 
                    img(src="/images/404.png" width="30" height="30" alt=" Badge 404") 
                    
    
 
            tr
                td  &nbsp
                td  More with HTML 
                td  11/08/12
                td 
                    img(src="/images/CODE.png" width="30" height="30" alt=" Badge CODE") 
                    
    
 
            tr
                td  &nbsp
                td  HTML Fundamentals 
                td  10/08/12
                td 
                    img(src="/images/CODE.png" width="30" height="30" alt=" Badge CODE") 
                    
    
 
            tr
                td  &nbsp
                td  Build Your First Webpage 
                td  10/08/12
                td 
                    img(src="/images/HTML.png" width="30" height="30" alt=" Badge HTML") 
                    
    

            tr
                td(colspan=4 class="bg-info text-white")
                    h5 Catégorie CSS
            tr
                th  &nbsp
                th  Description
                th  Date obtention
                th  Badge
    
 
            tr
                td  &nbsp
                td  Le positionnement des éléments CSS Element 
                td  05/03/16
                td 
                    img(src="/images/CODE.png" width="30" height="30" alt=" Badge CODE") 
                    
    
 
            tr
                td  &nbsp
                td  Le positionnement CSS 
                td  05/03/16
                td 
                    img(src="/images/CODE.png" width="30" height="30" alt=" Badge CODE") 
                    
    
 
            tr
                td  &nbsp
                td  Classes CSS Classes et IDs 
                td  28/02/16
                td 
                    img(src="/images/CODE.png" width="30" height="30" alt=" Badge CODE") 
                    
    
 
            tr
                td  &nbsp
                td  Triez vos amis 
                td  28/02/16
                td 
                    img(src="/images/CODE.png" width="30" height="30" alt=" Badge CODE") 
                    
    
 
            tr
                td  &nbsp
                td  Les sélecteurs CSS 
                td  27/02/16
                td 
                    img(src="/images/CODE.png" width="30" height="30" alt=" Badge CODE") 
                    
    
 
            tr
                td  &nbsp
                td  Introduction au CSS 
                td  26/02/16
                td 
                    img(src="/images/CODE.png" width="30" height="30" alt=" Badge CODE") 
                    
    
 
            tr
                td  &nbsp
                td  Concevez un bouton pour votre site 
                td  26/02/16
                td 
                    img(src="/images/CODE.png" width="30" height="30" alt=" Badge CODE") 
                    
    
 
            tr
                td  &nbsp
                td  Project: CSS Buttons 
                td  29/09/13
                td 
                    img(src="/images/CODE.png" width="30" height="30" alt=" Badge CODE") 
                    
    
 
            tr
                td  &nbsp
                td  Pizza Time! 
                td  17/08/12
                td 
                    img(src="/images/CODE.png" width="30" height="30" alt=" Badge CODE") 
                    
    
 
            tr
                td  &nbsp
                td  Advanced CSS Positioning 
                td  17/08/12
                td 
                    img(src="/images/CODE.png" width="30" height="30" alt=" Badge CODE") 
                    
    
 
            tr
                td  &nbsp
                td  Create a Personal Webpage 
                td  17/08/12
                td 
                    img(src="/images/CODE.png" width="30" height="30" alt=" Badge CODE") 
                    
    
 
            tr
                td  &nbsp
                td  Intro to CSS Positioning 
                td  17/08/12
                td 
                    img(src="/images/CODE.png" width="30" height="30" alt=" Badge CODE") 
                    
    
 
            tr
                td  &nbsp
                td  Put It All Together: Build a Resume 
                td  15/08/12
                td 
                    img(src="/images/CODE.png" width="30" height="30" alt=" Badge CODE") 
                    
    
 
            tr
                td  &nbsp
                td  First Website Using HTML and CSS 
                td  13/08/12
                td 
                    img(src="/images/CODE.png" width="30" height="30" alt=" Badge CODE") 
                    
    
 
            tr
                td  &nbsp
                td  Make a Recipe Card 
                td  12/08/12
                td 
                    img(src="/images/CODE.png" width="30" height="30" alt=" Badge CODE") 
                    
    
 
            tr
                td  &nbsp
                td  Advanced CSS Selectors 
                td  12/08/12
                td 
                    img(src="/images/CODE.png" width="30" height="30" alt=" Badge CODE") 
                    
    
 
            tr
                td  &nbsp
                td  CSS: Coding with Style 
                td  11/08/12
                td 
                    img(src="/images/CODE.png" width="30" height="30" alt=" Badge CODE") 
                    
    
 
            tr
                td  &nbsp
                td  Max Streak Count of 5 
                td  11/08/12
                td 
                    img(src="/images/CODE.png" width="30" height="30" alt=" Badge CODE") 
                    
    

            tr
                td(colspan=4 class="bg-info text-white")
                    h5 Catégorie GENERAL
            tr
                th  &nbsp
                th  Description
                th  Date obtention
                th  Badge
    
 
            tr
                td  &nbsp
                td  500 Exercises 
                td  27/08/12
                td 
                    img(src="/images/500.png" width="30" height="30" alt=" Badge 500") 
                    
    
 
            tr
                td  &nbsp
                td  200 Exercises 
                td  11/08/12
                td 
                    img(src="/images/200.png" width="30" height="30" alt=" Badge 200") 
                    
    
 
            tr
                td  &nbsp
                td  75 points earned in one day 
                td  10/08/12
                td 
                    img(src="/images/CODE.png" width="30" height="30" alt=" Badge CODE") 
                    
    
 
            tr
                td  &nbsp
                td  100 Exercises 
                td  09/08/12
                td 
                    img(src="/images/100.png" width="30" height="30" alt=" Badge 100") 
                    
    
 
            tr
                td  &nbsp
                td  50 points earned in one day 
                td  09/08/12
                td 
                    img(src="/images/CODE.png" width="30" height="30" alt=" Badge CODE") 
                    
    
 
            tr
                td  &nbsp
                td  25 points earned in one day 
                td  09/08/12
                td 
                    img(src="/images/CODE.png" width="30" height="30" alt=" Badge CODE") 
                    
    
 
            tr
                td  &nbsp
                td  50 Exercises 
                td  09/08/12
                td 
                    img(src="/images/CODE.png" width="30" height="30" alt=" Badge CODE") 
                    
    
 
            tr
                td  &nbsp
                td  25 Exercises 
                td  08/08/12
                td 
                    img(src="/images/CODE.png" width="30" height="30" alt=" Badge CODE") 
                    
    
 
            tr
                td  &nbsp
                td  10 Exercises 
                td  07/08/12
                td 
                    img(src="/images/CODE.png" width="30" height="30" alt=" Badge CODE") 
                    
    

            tr
                td(colspan=4 class="bg-info text-white")
                    h5 Catégorie OUTILS
            tr
                th  &nbsp
                th  Description
                th  Date obtention
                th  Badge
    
 
            tr
                td  &nbsp
                td  Lesson Completed: Basic Git Workflow 
                td  07/03/16
                td 
                    img(src="/images/CODE.png" width="30" height="30" alt=" Badge CODE") 
                    
    
 
            tr
                td  &nbsp
                td  Créer un CV 
                td  05/03/16
                td 
                    img(src="/images/CODE.png" width="30" height="30" alt=" Badge CODE") 
                    
    
