
//
// Table des competences
//
div(class="container")
    div(class="row")
        table(class="table table-bordered ")
            tbody
    

                tr
                    td(colspan=5 class="bg-info text-white")
                        h5 Système d'exploitation
                
                tr
                    td &nbsp
                    td(class="bg-success text-white") Linux
                    td 4/5 
                    td
                        div(class="d-inline")
                            include /include/4_star.pug
                    td Distribution Debian RedHat Centos Oracle Entreprise Linux (OEL) LinuxMint
                
                tr
                    td &nbsp
                    td(class="bg-success text-white") AIX
                    td 4/5 
                    td
                        div(class="d-inline")
                            include /include/4_star.pug
                    td Version 5 & 6 (Certifié Administrateur Système 2003, 2006, 2009)
                
                tr
                    td &nbsp
                    td(class="bg-light text-black") Windows
                    td 2/5 
                    td
                        div(class="d-inline")
                            include /include/2_star.pug
                    td Windows Server 2003/2008/2012/2016 W7 <br/> Installation de base et utilisation
                
                tr
                    td(colspan=5 class="bg-info text-white")
                        h5 Base de données
                
                tr
                    td &nbsp
                    td(class="bg-success text-white") Oracle
                    td 4/5 
                    td
                        div(class="d-inline")
                            include /include/4_star.pug
                    td Toutes versions depuis la version 7 <br/> Mise en oeuvre STDBY Database / Sauvegarde RMAN
                
                tr
                    td &nbsp
                    td(class="bg-warning text-black") PostGresql
                    td 3/5 
                    td
                        div(class="d-inline")
                            include /include/3_star.pug
                    td Version 9 et 9.6 Tuning de base avec JIRA
                
                tr
                    td &nbsp
                    td(class="bg-warning text-black") Mysql
                    td 3/5 
                    td
                        div(class="d-inline")
                            include /include/3_star.pug
                    td Petite base de données liée avec l'outil de suivi code barre
                
                tr
                    td &nbsp
                    td(class="bg-warning text-black") MongoDB
                    td 3/5 
                    td
                        div(class="d-inline")
                            include /include/3_star.pug
                    td Composant de l'ERP Sage X3
                
                tr
                    td(colspan=5 class="bg-info text-white")
                        h5 Architecture
                
                tr
                    td &nbsp
                    td(class="bg-warning text-black") Cluster
                    td 3/5 
                    td
                        div(class="d-inline")
                            include /include/3_star.pug
                    td Projet SEAPATH, Corosync, Pacemaker, Ceph
                
                tr
                    td &nbsp
                    td(class="bg-danger text-white") Sage_ERP_X3
                    td 5/5 
                    td
                        div(class="d-inline")
                            include /include/5_star.pug
                    td Sage Entreprise Management
                
                tr
                    td &nbsp
                    td(class="bg-light text-black") AWS
                    td 2/5 
                    td
                        div(class="d-inline")
                            include /include/2_star.pug
                    td Autoformation réalisation de scripts DevOps en python boto3
                
                tr
                    td &nbsp
                    td(class="bg-light text-black") CloudFlare
                    td 2/5 
                    td
                        div(class="d-inline")
                            include /include/2_star.pug
                    td Découverte de R2, rclone
                
                tr
                    td(colspan=5 class="bg-info text-white")
                        h5 Langages
                
                tr
                    td &nbsp
                    td(class="bg-success text-white") Python
                    td 4/5 
                    td
                        div(class="d-inline")
                            include /include/4_star.pug
                    td Mon langage favori (cette table a été générée par un script python &#x1F609; ) <br/> Voir aussi la rubrique <a href="/publications.html">Publications</a>
                
                tr
                    td &nbsp
                    td(class="bg-success text-white") Shell
                    td 4/5 
                    td
                        div(class="d-inline")
                            include /include/4_star.pug
                    td Mon autre langage favori
                
                tr
                    td &nbsp
                    td(class="bg-warning text-black") Perl
                    td 3/5 
                    td
                        div(class="d-inline")
                            include /include/3_star.pug
                    td Développpement d'un suivi de fabrication basé sur de la lecture code barre
                
                tr
                    td &nbsp
                    td(class="bg-light text-black") HTML
                    td 2/5 
                    td
                        div(class="d-inline")
                            include /include/2_star.pug
                    td Exemple ce site (https://cv.chrislyon.fr)
                
                tr
                    td &nbsp
                    td(class="bg-light text-black") Javascript
                    td 2/5 
                    td
                        div(class="d-inline")
                            include /include/2_star.pug
                    td Développement de petits outils, utilisations de quelques librairies
                
                tr
                    td &nbsp
                    td(class="bg-light text-black") GOLang
                    td 2/5 
                    td
                        div(class="d-inline")
                            include /include/2_star.pug
                    td Developpement de quelques utilitaires, pour du developpement croisé Linux/Windows
                
                tr
                    td &nbsp
                    td(class="bg-light text-black") Ruby
                    td 2/5 
                    td
                        div(class="d-inline")
                            include /include/2_star.pug
                    td Développement de quelques petits utilitaires, utilisation avec RubyOnRails
                
                tr
                    td(colspan=5 class="bg-info text-white")
                        h5 Virtualisation
                
                tr
                    td &nbsp
                    td(class="bg-success text-white") LibVirt
                    td 4/5 
                    td
                        div(class="d-inline")
                            include /include/4_star.pug
                    td Administration, tuning
                
                tr
                    td &nbsp
                    td(class="bg-warning text-black") Docker
                    td 3/5 
                    td
                        div(class="d-inline")
                            include /include/3_star.pug
                    td Administration, création automatisé de container et micro services
                
                tr
                    td &nbsp
                    td(class="bg-success text-white") VMWARE
                    td 4/5 
                    td
                        div(class="d-inline")
                            include /include/4_star.pug
                    td Administration, sauvegarde, tuning
                
                tr
                    td &nbsp
                    td(class="bg-warning text-black") Virtualbox
                    td 3/5 
                    td
                        div(class="d-inline")
                            include /include/3_star.pug
                    td Configuration
                
                tr
                    td(colspan=5 class="bg-info text-white")
                        h5 Réseau
                
                tr
                    td &nbsp
                    td(class="bg-success text-white") SSH
                    td 4/5 
                    td
                        div(class="d-inline")
                            include /include/4_star.pug
                    td Utilisation des couples clés publiques/privées
                
                tr
                    td &nbsp
                    td(class="bg-light text-black") OpenvSwitch
                    td 2/5 
                    td
                        div(class="d-inline")
                            include /include/2_star.pug
                    td Vlan, VxLAN support et MCO
                
                tr
                    td &nbsp
                    td(class="bg-warning text-black") CISCO
                    td 3/5 
                    td
                        div(class="d-inline")
                            include /include/3_star.pug
                    td Paramétrage, support et MCO de CISCO 3750 G, Automatisation par script python des mises à jours de configuration
                
                tr
                    td &nbsp
                    td(class="bg-warning text-black") HAProxy
                    td 3/5 
                    td
                        div(class="d-inline")
                            include /include/3_star.pug
                    td Paramétrage, solution de répartition de charge sur des serveurs Node.js
                
                tr
                    td &nbsp
                    td(class="bg-warning text-black") Samba
                    td 3/5 
                    td
                        div(class="d-inline")
                            include /include/3_star.pug
                    td Paramétrage et support
                
                tr
                    td &nbsp
                    td(class="bg-warning text-black") Apache
                    td 3/5 
                    td
                        div(class="d-inline")
                            include /include/3_star.pug
                    td Composant de l'ERP Sage X3
                
        table(class="table table-bordered " style="page-break-before: always")
            tbody
    
                tr
                    td(colspan=5 class="bg-info text-white")
                        h5 Frameworks
                
                tr
                    td &nbsp
                    td(class="bg-warning text-black") NodeJS
                    td 3/5 
                    td
                        div(class="d-inline")
                            include /include/3_star.pug
                    td Composant de l'ERP Sage X3
                
                tr
                    td &nbsp
                    td(class="bg-warning text-black") DJANGO
                    td 3/5 
                    td
                        div(class="d-inline")
                            include /include/3_star.pug
                    td Développement de quelques utilitaires
                
                tr
                    td &nbsp
                    td(class="bg-light text-black") RubyOnRails
                    td 2/5 
                    td
                        div(class="d-inline")
                            include /include/2_star.pug
                    td Version 4 ... Pas de pratique depuis longtemps
                
                tr
                    td(colspan=5 class="bg-info text-white")
                        h5 Outils
                
                tr
                    td &nbsp
                    td(class="bg-warning text-black") GITLAB
                    td 3/5 
                    td
                        div(class="d-inline")
                            include /include/3_star.pug
                    td Administration, création de container et duplication de Groupe de projets
                
                tr
                    td &nbsp
                    td(class="bg-warning text-black") Git
                    td 3/5 
                    td
                        div(class="d-inline")
                            include /include/3_star.pug
                    td Incontournable (utilisation quotidienne)
                
                tr
                    td &nbsp
                    td(class="bg-warning text-black") Ansible
                    td 3/5 
                    td
                        div(class="d-inline")
                            include /include/3_star.pug
                    td Creation de rôle, utilisation pour la configuration de cluster SEAPATH
                
                tr
                    td &nbsp
                    td(class="bg-warning text-black") Confluence
                    td 3/5 
                    td
                        div(class="d-inline")
                            include /include/3_star.pug
                    td Rédaction de documentation technique (utilisation quotidienne)
                
                tr
                    td &nbsp
                    td(class="bg-warning text-black") Draw.io
                    td 3/5 
                    td
                        div(class="d-inline")
                            include /include/3_star.pug
                    td Création de schéma, inclus dans Confluence (utilisation quotidienne)
                
                tr
                    td &nbsp
                    td(class="bg-warning text-black") JIRA
                    td 3/5 
                    td
                        div(class="d-inline")
                            include /include/3_star.pug
                    td Installation, configuration, paramétrage, tuning base de données
                
                tr
                    td &nbsp
                    td(class="bg-light text-black") ElasticSearch
                    td 2/5 
                    td
                        div(class="d-inline")
                            include /include/2_star.pug
                    td Composant de l'ERP Sage X3
                
                tr
                    td(colspan=5 class="bg-info text-white")
                        h5 Autres
                
                tr
                    td &nbsp
                    td(class="bg-light text-black") Raspberry
                    td 2/5 
                    td
                        div(class="d-inline")
                            include /include/2_star.pug
                    td Utilisation pour le suivi de température de la salle serveur, avec alerte par SMS
                
                tr
                    td &nbsp
                    td(class="bg-light text-black") Arduino
                    td 2/5 
                    td
                        div(class="d-inline")
                            include /include/2_star.pug
                    td Développement de petits scripts
                
                tr
                    td &nbsp
                    td(class="bg-light text-black") ESP866
                    td 2/5 
                    td
                        div(class="d-inline")
                            include /include/2_star.pug
                    td Pour la domotique, suivi de température
                
                tr
                    td &nbsp
                    td(class="bg-light text-black") Impression_3D
                    td 2/5 
                    td
                        div(class="d-inline")
                            include /include/2_star.pug
                    td Passionnant mais chronophage
                
                tr
                    td &nbsp
                    td(class="bg-light text-black") Domotique
                    td 2/5 
                    td
                        div(class="d-inline")
                            include /include/2_star.pug
                    td Idem Impression 3D
                
