﻿h3
	|ATTENTION : Accrochez vous à votre clavier je retire les shells 
h4
	|Sur cette page découvrez le pourquoi du comment de ce site ...
p(class="text-monospace" style="line-height : 2;")
	|Bonjour,
	|<br/>
	|Ce site, créer en Septembre 2018, a plusieurs buts : 
	|<br/>
	|le premier est évident vu qu'il s'agit d'avoir mon CV en ligne 
	|<br/>
	|le suivant m'a permis de réviser mes connaissances en HTML et de mettre au point une technique pas trop fastidieuse pour écrire un site statique visible convenablement sur différents types d'écrans (PC, Tablette et Smartphone) 
	|<br/>
	|Après quelques recherches la librairie Bootstrap (lien) m'a semblé un bon choix et ce site bénéficie de l'expérience des développeurs qui l'ont mise au point,  que je remercie au passage. 
	|<br/>
	|Ainsi, grâce à cette librairie,  ce site est lisible depuis un smartphone, une tablette ( 10 pouces et 7 pouces), un PC avec écran et sur portable.
	|<br/>
	|Bootstrap permet donc de laisser au vrai pro du web s’amuser avec le coté CSS et "design" de la chose, sinon cela permet aussi d’avoir une forme « responsive » et de me concentrer sur le contenu et sa génération.
	|<br/>
	|Comment est construit ce site :
	|<br/>
	|J’ai utilisé un moteur de modèles, ou Template engine pour les anglophiles, nommé Jade et bientôt  Pug (apparemment ils ont un problème avec le nom).
	|<br/>
	|Cet outil permet de décrire du HTML comme on écrirait du python, la structure provient de l'indentation. 
	|<br/>
	|Cela donne un code propre conçis et simple, très facile à lire, et surtout à relire 1 mois plus tard …
	|<br/>
	|Comme tout unixien de base, à partir de n occurrences ( n parfois > 2 et < 3) je préfère écrire un script. 
	|<br/>
	|Aussi dans la construction de ce site certaines briques sont issues de scripts shell ou python.
	|<br/>
	|Comme cela tout devient vite complexe, surtout pour se souvenir des procédures pour chaque page … car chaque page amène une problématique à résoudre,  il a bien fallu sortir l'irremplaçable outil "make". 
	|<br/>
	|Eh oui même au 21eme siècle, au temps du Cloud, du Big Data, un outil comme make ou vi peuvent faire figure d'antiquité ... et pourtant souvenez vous : 
	|<br/>
	|<strong>think - edit - make </strong>
	|<br/>
	|L’informatique tenait en 3 mots … ce qui était normal vu le cout de la RAM et des disques de l’époque.
	|<br/>
	|En attendant chaque fois que je lance make ... les pages html sont générées, les données sont formatées et le site est publié ;)
	|<br/>
	|Si vous souhaitez plus de détail il faut parcourir la page de téléchargement ou se trouve le lien vers le dépôt de ce site. 
	|<br/>
	|Voilà, ce site est en constante évolution au gré de mes formations et acquisitions de compétences, car oui je continue mon auto-formation, après tout le web c'est fait pour ça ... 
	|<br/>
