﻿h3
	| Livre : Scripting Python sous Linux  : Développez vos outils système
h4
	| Paru le 10 Juin 2020
table 
	tr
		td
			a(href="https://www.editions-eni.fr/livre/scripting-python-sous-linux-developpez-vos-outils-systeme-9782409025679")
				img(src="/images/EISCRYPT_lkn_552x288-publication.jpg" width="276" height="144" )
		td
			=" "
		td
			p(class="text-monospace" style="line-height : 2;")
				| Le lien sur le site des Editions ENI : 
				| <a href="https://www.editions-eni.fr/livre/scripting-python-sous-linux-developpez-vos-outils-systeme-9782409025679"> Scripting Python sous Linux </a>
			p(class="text-monospace" style="line-height : 2;")
				| Pour les curieux : 
				| <a href="/download/Table des matières_978-2-409-02567-9.pdf"> la table des matières </a>
			p(class="text-monospace" style="line-height : 2;")
				| Et en prime
				| <a href="/download/0620-nv-communique_EISCRYPT.pdf"> le communiqué officiel </a>
br
h3
	| <a href="https://www.editions-eni.fr/livre/scripting-python-sous-linux-developpez-vos-outils-systeme-2e-edition-9782409040764">Seconde édition </a> paru au mois de juillet 2023
br
hr
h4
	| En langue Espagnole Depuis le mois de juillet 2021 
table 
	tr
		td
			a(href="https://www.ediciones-eni.com/libro/scripting-python-en-linux-desarrolle-sus-herramientas-de-sistema-9782409031526")
				img(src="/images/scripting-python-en-linux-desarrolle-sus-herramientas-de-sistema-9782409031526_XL.jpg" width="253" height="306" )
		td
			=" "
		td
			p(class="text-monospace" style="line-height : 2;")
				| Le lien sur le site des Editions ENI ESPAGNE : 
				| <a href="https://www.ediciones-eni.com/libro/scripting-python-en-linux-desarrolle-sus-herramientas-de-sistema-9782409031526"> Scripting Python en Linux </a>
br
hr
p(class="text-monospace" style="line-height : 2;")
	|Au départ de cette aventure, car cela en est une, au cours d'une séance de surf sur le web, je tombais sur une petite annonce : "Devenir Auteur" <br/>
	|Je répondais sans trop y croire avec quelques questions d'ordre pratique et en donnant l'adresse de ce site qui me sert de CV numérique. <br/>
	|A ma grande surprise, je reçu une réponse positive car mon profil correspondait à l'un de leurs projets : un livre sur le scripting avec python. <br/>
	|Mon système d'exploitation favori et mon langage de programmation favori après tout pourquoi pas ? <br/>
	|<br/>
	|But de l'ouvrage et public visé : un livre pour les administrateurs systèmes Linux mais débutant en python. <br/>
	|Après quelques mails, coups de téléphones on m'a demandé de faire un essai et une table des matières avec un délai pour rendre ma copie. Cela commençait comme cela :
	|<br/>
	|Ce livre est destiné à des administrateurs système habitués des shellscripts (donc avec quelques notions de programmation) mais ne connaissant pas ou très peu python. Le but n’est pas de remplacer les scripts shells par des scripts python, mais de découvrir lel langage python afin de déterminer à partir de quand il est intéressant de passer à python ou de mixer les 2. Permettant ainsi au administrateur systèmes de cumuler les avantages du scripts shells et les points forts du langage python et d’aller beaucoup beaucoup plus loin.
	|<br/>
	|Suivi de quelques pages sur le coté objet de python. <br/>
	|<br/>
	|J'ai beaucoup apprécié le retour de Mr J. G. qui avait été "surpris de la manière dont j'abordais les choses", ce que j'ai pris pour un compliment, il savais ce qu'il voulait et de quoi il parlait.
	|Même si j'ai du revoir ma copie pour adopter le ton sérieux de la collection Expert IT à laquelle se destinait cet ouvrage. <br/>
	|En tout cas, nous nous sommes engagés mutuellement avec un contrat (rémunération, délai etc … ) et en parallèle j'ai commencé à écrire. <br/>
	|<br/>
	|L'écriture a été un vrai plaisir, et maintenant qu'il est publié, cela me manque de travailler dessus. <br/>
	|J'ai essayé d'écrire le genre de livre que j'aurais aimé lire, il y a quelques années en découvrant le langage python. <br/>
	|Le jour de sa parution (impossible d'attendre plus longtemps…), j'ai posté une <a href="https://linuxfr.org/users/chrisb/journaux/scripting-python-sous-linux"> annonce sur le site LinuxFR </a> que je fréquente régulièrement depuis 20 ans. <br/>
	|Une partie du public visé fréquente ce forum d'échanges d'idées et d'informations sur Linux et les logiciels libres. <br/>
	|Et rapidement, j'ai eu le plaisir d'avoir de très bonnes remarques et même quelques commandes. <br/>
	|La suite de cette aventure, aucune idée ... peut être dans un prochain épisode. <br/>
br
p(class="text-monospace" style="line-height : 2;")
	| Encore une fois, je remercie les Editions ENI et toute l'équipe qui ont permis à cet ouvrage de voir le jour.

a(href="https://www.editions-eni.fr/livre/scripting-python-sous-linux-developpez-vos-outils-systeme-9782409025679")
	img(src="/images/scripting-python-sous-linux-developpez-vos-outils-systeme-9782409025679_L.jpg")
