p Le but de ma démarche est d’améliorer ma qualité de vie.

p Aussi avant de me proposer une opportunité je vous demanderai de prendre en compte les critères suivants : 

h4 Disponibilité :

p(class="retrait") je suis actuellement en poste et par conséquent ne serait pas disponible de suite

h4 Télétravail : 

p(class="retrait") Full Remote ou Télétravail 100%, pas de déplacement, je dispose d’un espace dédié et de la fibre avec un bon débit.

h4 Type de contrat : 

p(class="retrait") CDI uniquement

h4 Poste de travail : 

p(class="retrait") Soyons sérieux : Linux ou Mac 

h4 Ma recherche : 

p(class="retrait") Je recherche un travail basé sur l'open source, ce qui donne un spectre très large soit, <br/>
    | les formations et les nouveaux challenges sont une opportunité et une motivation supplémentaire. <br/>
    | Pour finir, rien n'est inscrit dans le marbre et n'hésitez pas à me contacter.
