
h4 Avant de me proposer une opportunité je vous demanderai de prendre en compte les critères suivants : 

table(class="table")
	tr
		td Prétention salariale 
		td A négocier

	tr 
		td Disponibilité
		td Je suis actuellement en poste et par conséquent ne serait pas disponible de suite : 3 mois de préavis

	tr
		td Télétravail 
		td 100% : je dispose d'un espace dédié et de la fibre avec un bon débit

	tr
		td Poste de Travail
		td Sous Linux ou Mac

	tr
		td Type de contrat
		td Pas de mission même « longue », CDI uniquement
